# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.DS_Store

src/.DS_Store

src/test

src/test.c

src/test.dSYM/Contents/Info.plist

src/test.dSYM/Contents/Resources/DWARF/test
